.setting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f7dd96;
}

.setting-block {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}



/*** save btn ***/
.save-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30px;
    background-color: transparent;
    border: 0px;
    outline: 0px;
  }
  
  .save-button:hover {
    opacity: 0.5;
  }
  
  .save-underline {
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  .save-font-container {
    display: flex;
    align-self: center;
    position: absolute;
  }
  
  .save-font {
    background-color: transparent;
    font-size: 20px;
    color: #927585;
    border-width: 0px;
  }