.journal-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: aquamarine; */
}

.journal-header-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #f34a7df3;
  color: #ffffff;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 50px;
}

.week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.journal-photo-view {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  /* background-color: blanchedalmond; */
}

.photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* padding: 5px; */
  border: solid;
  border-width: 1px;
  border-color: #c2b4a1;
  color: #a79883;
}

.photo-block:hover {
  border-width: 3px;
  /* opacity: 0.5; */
}

.photo-upload-font {
  position: absolute;
  align-self: center;
  justify-self: center;
  font-size: 12px;
}

.journal-input-view {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  flex: 1;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 70%;
  height: 20px;
  padding: 0px;
  margin-left: 10%;
  border: 0px;
  outline: 0px;
  background: transparent;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  /* background-color: #f34f4f; */
  margin-left: 15px;
  width: 100px;
}

/* float-menu */
@keyframes underlineFadeIn {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1.0;
    transform: translateX(0%);
  }
}

.input-underline {
  position: absolute;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #858383;
  animation-name: underlineFadeIn;
  animation-duration: 0.8s;
}

.input-block {
  background-color: transparent;
  border: 0px;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  vertical-align: 0px;
  outline: none;
  margin-left: 1px;
}

.input-title-font:disabled {
  background-color: transparent;
  width: 60px;
  opacity: 1;
  color: #333333;
  outline: 0px;
  padding: 0px;
  border-width: 0px;
  font-size: 14px;
}

.input-tail {
  height: 14px;
  margin: 2px;
}

.save-button {
  position: absolute;
  bottom: 10%;
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

.save-button:hover {
  opacity: 0.5;
}

.save-underline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 15px;
  background-color: #f34f4f;
}

.save-font-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-width: 0px;
  outline: 0px;
}

.save-font {
  background-color: transparent;
  font-size: 16px;
  border-width: 0px;
}



/* uploader */
.fileUploader {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.chooseFileButton {
  background-color: #a79883;
}

.fileContainer input {
  width: 0px;
}