.journal-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: aquamarine; */
}

.journal-header-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #dd386a;
  color: #ffffff;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 50px;
}

.week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.journal-photo-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  /* background-color: blanchedalmond; */
}

.photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: #c2b4a1;
  color: #a79883;
}

.photo-block:hover {
  background-color: #dfd3c3;
  opacity: 0.5;
}

.photo-upload-font {
  position: absolute;
  align-self: center;
  justify-self: center;
  font-size: 12px;
}

.journal-input-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 10%;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* background-color: #f34f4f; */
  margin-left: 15px;
  width: 100px;
}

/* float-menu */
@keyframes underlineFadeIn {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1.0;
    transform: translateX(0%);
  }
}

.input-underline {
  position: absolute;
  bottom: 1px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #858383;
  animation-name: underlineFadeIn;
  animation-duration: 0.8s;
}

.input-block {
  background-color: transparent;
  border: 0px;
  width: 100%;
  font-size: 14px;
  outline: none;
  margin: 1px;
}

.input-title-font {
  font-size: 14px;
}

.input-tail {
  height: 14px;
  margin: 2px;
}

.save-button {
  position: absolute;
  bottom: 50px;
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

.save-button:hover {
  opacity: 0.5;
}

.save-underline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 15px;
  background-color: #f34f4f;
}

.save-font-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.save-font {
  font-size: 16px;
}



/* uploader */
.fileContainer {
  background: transparent;
  /* box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05); */
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  transition: all 0.3s ease-in;
}

.uploadPicturesWrapper {
  position: absolute;
}

.chooseFileButton {
  background-color: #a79883;
}
