[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"
django = "2.2.24"
whitenoise = "*"
pymongo = "*"
django-cors-headers = "*"
requests = "*"

[dev-packages]

[requires]
#python_version = "3.6"
