body {
  /* height:100%;
  width: 100%; */
  margin: 0px;
}

div {
  outline: 0px;
}

button {

  outline: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calendar-page {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.calendar-view {
  /* background-color: #aaaaaa; */
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.calendar-items-view {
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  margin-bottom: 20px;
  width: 100%;
}

.calendar-items-view::-webkit-scrollbar { 
  display: none; 
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: rgba(255,255,255,255);
  width: 35px;
  height: 35px;
  border: 0px;
  border-radius: 5px;
  outline: 0px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fce2d6;
  height: 45px;
  min-height: 45px;
  width: 100%;
  margin-top: 2px;
  border: 0px;
  outline: 0px;
}

.item:hover {
  opacity: 0.5;
}

.cate-font {
  display: flex;
  margin: 10px;
  font-size: 14px;
  width: 50px;
  color: #666666;
}

.title-font {
  overflow: hidden;
  margin: 10px;
  font-size: 14px;
  color: #333333;
}


/* float-menu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}


.float-menu {
  display: flex;
  flex: 1;
}

.float-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #ddaaaa;
  opacity: 0.85;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.cate-block {
  position: absolute;
  top: 30%;;
  left: 25%;
  width: 50%;
}

.cate-container {
  margin-top : 20px;
}

.cate-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c55656;
  width: 100%;
  height: 50px;
  border: 0px;
  font-size: 14px;
  color: #ffffff;
}

.route-link {
  text-decoration: none;
}

.loading-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;;
  left: 25%;
  width: 50%;
  color: #fff;
  font-size: 24px;
}



/*** react-day-picker ***/
.DayPicker-Day--diary {
  background-color: #7bc79b;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: white;
}

.DayPicker-Day--reminder {
  background-color: #72a0d4;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: white;
}

.DayPicker-Day--journal {
  background-color: #f7add5;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: white;
}