body {
  margin: 0px;
  overflow: hidden;
}

.calendar-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 20px;
}

.calendar-view {
  /* background-color: #aaaaaa; */
  display: flex;
  justify-content: center;
}

.calendar-items-view {
  /* background-color: grey; */
  width: 80%;
}

.add-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: rgba(255,255,255,255);
  width: 35px;
  height: 35px;
  border: 0px;
  border-radius: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fce2d6;
  height: 45px;
  width: 100%;
  margin-top: 2px;
  border: 0px;
  outline: 0px;
}

.item:hover {
  opacity: 0.5;
}

.cate-font {
  display: flex;
  margin: 10px;
  font-size: 14px;
  width: 50px;
  color: #666666;
}

.title-font {
  overflow: hidden;
  margin: 10px;
  font-size: 14px;
  color: #333333;
}


/* float-menu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

.float-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #ddaaaa;
  opacity: 0.85;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.cateBlock {
  position: absolute;
  top: 30%;;
  left: 25%;
  width: 50%;
}

.cateButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c55656;
  width: 100%;
  height: 60px;
  margin-top : 20px;
  border: 0px;
  font-size: 14px;
  color: #ffffff;
}

.route-link {
  text-decoration: none;
}