html {
  display: flex;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendar-page {
  flex-direction: column;
  align-items: center;
  background-color: #ccffff;
  width: 100%;
}

.calendar-view {
  background-color: aqua;
  width: 100%;
}

.calendar-items-view {
  background-color: grey;
  width: 100%;
}

.add-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #da330c;
  height: 50px;
  width: 100%;
  border: 0px;
}

.cate-font {
  margin: 10px;
  font-size: 16px;
}

.title-font {
  margin: 10px;
  font-size: 16px;
}


/* float-menu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

.float-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #ddaaaa;
  opacity: 0.85;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.cateBlock {
  position: absolute;
  top: 30%;;
  left: 25%;
  width: 50%;
}

.cateButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff7777;
  width: 100%;
  height: 60px;
  margin-top : 20px;
  border: 0px;
  font-size: 14px;
}